@import url('reseter.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif; /*Fallback de fuente de Google*/
    font-weight: 400;
    font-style: normal;
}

article.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: aquamarine;
    border: 1px #000 solid;
    margin: 0 auto;
}

article.card header {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

article.card header div.logo {
    display: flex;
    flex-direction: row;
}

article.card header div.view_more {
    display: flex;
    justify-content: flex-end;
}

/*
header div.logo div:first-child i {
    font-size: 30px;
}
*/

header div.logo div:nth-child(1) i {
    font-size: 30px;
}

dl dt:nth-child(2n+1) {
    color: green;
}

dl dd:nth-child(2n) {
    color: red;
}